.watch {
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .back {
    position: absolute;
    display: flex;
    z-index: 995;
    font-size: 30px;
    top: 20px;
    left: 30px;
    cursor: pointer;
    color: #fff;

    .icon {
      font-size: 40px;
      margin-right: 10px;
    }
  }
  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .watch {
    .back {
      font-size: 20px;
      top: 30px;
      .icon {
        font-size: 20px;
      }
    }

    video {
      margin-top: 200px;
      object-fit: cover;

      width: 100%;
      height: auto;
    }
  }
}
