.list {
  width: 100%;
  margin-top: 25px;
  margin-bottom: 120px;
  //   margin-left: 10px;

  .listTitle {
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    margin-left: 70px;

    letter-spacing: 1px;
  }

  .wrapper {
    margin: 20px 0 0 0px;
    position: relative;
    // background-color: blue;
    .sliderArrow {
      color: white;
      width: 80px;
      height: 100%;
      position: absolute;
      //   background-color: blue;
      z-index: 997;
      top: 0;
      bottom: 0;
      cursor: pointer;

      &.left {
        left: 0;
      }

      &.right {
        right: 0;
      }
    }

    .container {
      display: flex;
      margin-left: 70px;
      width: max-content;
      height: 250px;
      transform: translateX(0px);
      transition: all 1s ease;

      //   background-color: pink;
    }
  }
}

@media only screen and (max-width: 400px) {
  .list {
    margin-top: 0px;
    margin-bottom: 0px;
    .listTitle {
      font-size: 20px;
      margin-left: 20px;
    }
    .wrapper {
      .sliderArrow {
        width: 50px;
        // margin-bottom: 20px;

        &.left {
          top: -10%;
        }
        &.right {
          top: -10%;
        }
      }
      .container {
        margin-left: 5px;
      }
    }
  }
}
