.navbar {
  color: white;
  //   background-color: var(--main-color);
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  //   background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);

  &.scrolled {
    background-color: var(--main-color);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px 20px 30px;

    .left {
      display: flex;
      align-items: center;

      img {
        height: 4rem;
        width: 10em;
        margin-right: 5%;
      }

      span {
        margin-left: 1.3vw;
        margin-right: 2vw;
        cursor: pointer;
      }
    }

    .right {
      display: flex;
      align-items: center;
      //   margin-right: 10px;
      img {
        height: 2.8em;
        width: 2.5em;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
      }

      .icon {
        margin: 0 30px;
        cursor: pointer;
      }

      .profile {
        .options {
          display: none;
        }

        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
            padding: 10px;
            background-color: var(--main-color);
            justify-content: space-between;

            span {
              margin-bottom: 10px;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
