.navbar {
  color: white;
  //   background-color: var(--main-color);
  height: 10vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  //   background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);

  &.scrolled {
    background-color: var(--main-color);
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px 20px 30px;

    .left {
      display: flex;
      align-items: center;
      padding-bottom: 20px;

      img {
        height: 3rem;
        width: 10em;
        margin-right: 5%;
      }

      span {
        margin-left: 1.3vw;
        margin-right: 2vw;
        cursor: pointer;
      }
    }

    .right {
      display: flex;
      align-items: center;
      margin-bottom: 18px;
      //   margin-right: 10px;
      img {
        height: 2.8em;
        width: 2.8em;
        border-radius: 50%;
        // object-fit: cover;
        cursor: pointer;
      }

      .name {
        font-size: 20px;
        letter-spacing: 1px;
      }

      .icon {
        margin: 0 30px;
        cursor: pointer;
      }

      .profile {
        .options {
          display: none;
        }

        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
            padding: 10px;
            background-color: var(--main-color);
            justify-content: space-between;

            span {
              margin-bottom: 10px;
              cursor: pointer;
            }
            button {
              font-size: 18px;
              color: white;
              background-color: black;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .navbar {
    height: 8vh;
    background-color: black;
    .container {
      padding: 10px;
      .left {
        img {
          height: 2rem;
          width: 5rem;
        }
        span {
          font-size: 15px;
        }
        span.ext {
          display: none;
        }
      }
      .right {
        margin-bottom: 20px;
        margin-left: 20px;

        // background-color: red;
        .icon.ext {
          display: none;
        }
        span.name {
          padding: 2px;
          font-size: 15px;
          border: 1px solid white;
        }
        img {
          display: none;
        }
        .profile {
          .options {
            display: none;
          }

          .icon {
            margin: 0;
          }

          &:hover {
            .options {
              right: -20px;
              // background-color: blue;
              span {
                font-size: 15px;
                padding: 0;
              }
            }
            .icon {
              margin: 0;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 450px) and (max-width: 1050px) {
  span.ext {
    display: none;
  }
  .icon.ext {
    display: none;
  }
  span.name {
    padding: 2px;
    font-size: 15px;
    border: 1px solid white;
  }
  .right {
    img {
      display: none;
    }
  }
}
